---
const { title } = Astro.params;
import Layout from '@layouts/Layout.astro';
import proyectosArray from '@utils/proyectos';
import { Image, getImage } from 'astro:assets';

const objetosFiltrados = proyectosArray.filter(
  (item) => item.titulo.toLocaleLowerCase() === title?.toLocaleLowerCase(),
);

let titulo: string = '';
let description: string = '';
let img: ImageMetadata | string;
let imgW: number = 0;
let imgH: number = 0;
let url;

if (objetosFiltrados.length > 0) {
  titulo = objetosFiltrados[0].titulo;
  description = objetosFiltrados[0].description;
  img = objetosFiltrados[0].img;
  imgW = objetosFiltrados[0].imgW;
  imgH = objetosFiltrados[0].imgH;

  url = await getImage({ src: img, format: 'webp' });
}
export const prerender = false;
---

<Layout title="Publicacion">
  <header class="header">
    {
      url && (
        <Image
          src={url.src}
          alt={titulo}
          width={imgW}
          height={imgH}
          class="Img"
        />
      )
    }
  </header>
  <article>
    <h1>{titulo}</h1>
    <p>{description}</p>
  </article>
</Layout>

<style lang="scss">
  .header {
    padding: 10px 30px;
    width: 100%;
    aspect-ratio: 16/9;
    max-height: 80vh;
    overflow-y: hidden;

    .Img {
      aspect-ratio: 16/9;
      border-radius: 20px;
      width: 100%;
      height: 100%;
      object-fit: cover;
      background-attachment: fixed;
      object-position: bottom;
    }
  }

  article {
    padding: 40px;
    background: #f1ffe6;
    h1 {
      text-align: center;
      text-transform: capitalize;
      font-style: italic;
      font-size: clamp(1.5rem, -0.0469rem + 7.22vw, 4.2rem);
      margin-top: 0;
      margin-bottom: 40px;
      background: radial-gradient(
        circle at bottom,
        #e5056a 15%,
        rgb(240, 142, 176) 40%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: 800;
    }

    p {
      max-width: 70ch;
      font-weight: 500;
      margin: 0 auto;
      text-wrap: balance;
      white-space: pre-line;
      color: rgb(0, 0, 0);
    }
  }
</style>
