---
import Layout from '../layouts/Layout.astro';
import headerImg from '../img/header.webp';
import ListProyects from '../components/ListProyects/ListProyects';
import SectionInfo from '../components/SectionInfo/SectionInfo';

import img1 from '../img/img1.webp';
import img2 from '../img/img2.webp';
import img3 from '../img/img3.webp';
---

<Layout title="Arquitectura demo">
  <header>
    <h1>Arquitectura</h1>
    <img src={headerImg.src} alt="header imagen" />
  </header>

  <ListProyects client:load slice={true} />
  <SectionInfo
    client:load
    img={img1}
    title="¿Quiénes somos?"
    description="Nuestro sistema es rápido, ágil, seguro y de calidad. Trabajamos en barrios abiertos o privados, en zonas residenciales o lotes con servicios. Construimos casas para todos los días, de fin de semana y ampliaciones. "
  />
  <SectionInfo
    client:load
    img={img2}
    title="¿Qué hacemos?"
    description="Nuestro sistema es rápido, ágil, seguro y de calidad. Trabajamos en barrios abiertos o privados, en zonas residenciales o lotes con servicios. Construimos casas para todos los días, de fin de semana y ampliaciones"
  />
  <SectionInfo
    client:load
    right={true}
    img={img3}
    title="¿Por qué nosotros?"
    description="Te ofrecemos una atención personalizada que se ajusta a tu presupuesto y a tus requerimientos para otorgarte la casa que quieras tener, que sea pensada, planificada y adaptada desde sus cimientos para vos y tu familia. El método de construcción que usamos no sólo es innovador y de vanguardia acá en la región, sino que comparado con la construcción tradicional se emplea la mitad del tiempo y para el futuro cuenta con una gran facilidad a la hora de realizar reparaciones. Te garantizamos la mejor atención que existe en el mercado, al alcance de tu bolsillo"
  />
</Layout>

<style lang="scss">
  header {
    position: relative;
    aspect-ratio: 16/9;
    max-height: 70vh;
    width: 100%;
    overflow: hidden;

    h1 {
      z-index: 100;
      position: absolute;
      top: 50%;
      left: 60%;
      transform: translate(-50%, -50%);
      color: #ec2165;
      text-shadow: 3px 3px #600221;
      font-size: clamp(1.125rem, -0.0469rem + 8.22vw, 8.025rem);
      text-transform: uppercase;
      font-weight: 800;
      font-style: italic;
    }
    img {
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;
      filter: brightness(85%);
    }
  }
</style>
